---
import RichText from "./RichText.astro";

import Block from "../Block.astro";

const { block } = Astro.props;
// console.log("Ol comp recieved content:")
// console.log(block)
---

<ol class="list-decimal">
  {
    block.items.map((item) => (
      <>
        <li>
          <RichText content={item.listItems} />
        </li>
        {item.children != false
          ? item.children.map((each) => <Block block={each} />)
          : null}
      </>
    ))
  }
</ol>
