---
// skeleton supposed to define the framework of the page, which are the common shared parts
// for example, the HTML context except the <body> part
import { GoogleAnalytics } from "astro-google-analytics";
import { SEO } from "astro-seo";
import "./styles/customStyles.css";
import "./styles/global.css";

const { pageTitle, siteIcon } = Astro.props;
const ga = import.meta.env.GOOGLE_ANALYTICS;
---

<!DOCTYPE html>
<html lang="en-us" class="h-100">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href={siteIcon} />

    <SEO
      title={pageTitle}
      description={pageTitle}
      openGraph={{
        basic: {
          title: pageTitle,
          type: "website",
          image: "https://github.com/imyangmo/notionpaper/raw/main/logo.png",
        }
      }}
    />
    {
      ga === '' ? <></> : <GoogleAnalytics id={ga} />
    }
    
  </head>
  <body>
    <slot />
  </body>
</html>
